/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Establece la altura mínima del cuerpo de la página al 100% del viewport */
    display: flex;
    flex-direction: column; /* Asegura que los elementos del cuerpo se apilen verticalmente */
}

main {
  flex: 1; /* Hace que el contenido principal (main) ocupe todo el espacio restante */
}
  
  /* Estilos del header */
header {
    background-color: #6bb39b;
    color: #ffffff;
    padding: 0.2% 0;
}

.conten{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
  
.logo img {
    text-align: center;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
}
  
.input{
    background: #ffffff;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 38px;
    border-radius: 5px;
}  

.bus {
  display: inline-block;
  background-color: #ff9900;
  color: black;    
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.bus:hover {
  background-color: #ff6600;
  transition: 0.2s ease-in-out all;
}
    
  /* Estilos del footer */
footer {
    background-color: #daf3ea;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.precio{
    color: black;
    max-width: 300 px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
}

.nombre{
    color: black;
    text-align: center;
    max-width: 300 px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px;
    border-radius: 10px 10px 10px 10px;
}

.contenedor{
    background: #ffffff;
    min-height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    margin: 15px;
}

.contenedorImagen{
    text-align: center;
    width: 80%;
    height: 350px;
    border-radius: 5px;
    margin: 15px;
}

.contenedorTexto{
    width: 800px;
}

.texto{
    color: black;
    text-align: justify;
}

/*Estilos de los botones de compra*/

.add-product {
  width: 30%;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 5px 20px 5px;
  background-color: #000000;
  align-items: center;
  border: none;
  cursor: pointer;
}

.add-product span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  font-weight: bold;
  top: 15px;
  left: 30%;
  color: #fff;
}

.add-product .icon-button1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: -40px;
  transition: .3s ease-in-out all;
  opacity: 0;
}

.add-product .icon-button1 svg {
  color: #fff;
  width: 25px;
  height: 25px;
}

.add-product:hover {
  background: #2f9b05;
  transition: .2s ease-in-out all;
}

.add-product:hover span {
  left: 30px;
}

.add-product:hover .icon-button1 {
  left: calc(100% - 50px);
  opacity: 1;
}

.buy-now {
  width: 30%;
  margin-left: 10px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 5px 20px 5px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.buy-now span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  font-weight: bold;
  top: 15px;
  left: 25%;
  color: #fff;
}

.buy-now .icon-button2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: -40px;
  transition: .3s ease-in-out all;
  opacity: 0;
}

.buy-now .icon-button2 svg {
  color: #fff;
  width: 25px;
  height: 25px;
}

.buy-now:hover {
  background: #2f9b05;
  transition: .2s ease-in-out all;
}

.buy-now:hover span {
  left: 30px;
}

.buy-now:hover .icon-button2 {
  left: calc(100% - 50px);
  opacity: 1;
}